body {
    background-color: #c3e0dd;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url("lone-starfish-wide copy.jpg");
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
}

