body {
    background-color: #c3e0dd;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    position: realtive;
}

span {
    position: absolute;
    top: 0;
    left: 0;
    color:whitesmoke;
    font-size: 4em;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

#top-image {
    width:max-content
}