body {
    background-color: #c3e0dd;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    position: realtive;
}

span {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}

#top-image {
    width:max-content
}